
body{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
}

.language{
  background-color: #E5E7EB;
}

.cool-link:hover{
  color: #dc2626 !important;
  transition: 0.2s;
}

.custom-red-color{
  color: #dc2626;

}
.my-border-bottom{
  border-bottom: 2px solid #dc2626;

}

.cool-link{
  color: black;
}

.hero-section{
  text-align: justify;
}

.hyper-link{
  text-decoration: none;
  color: black;

}

.hyper-link:hover{
  text-decoration: underline;
  color: #dc2626;
  transition: 0.2s;
}


