
body{
  font-family: 'Open Sans', sans-serif;
}

.language{
  background-color: #E5E7EB;
}

.cool-link:hover{
  color: rgb(220, 38, 38) !important;
}

.cool-link{
  color: black;
}

.hero-section{
  text-align: justify;
}


